<!DOCTYPE html>
<html>
  <head>
  
    <title>MyApp</title>
    
    <meta http-equiv="Content-type" content="text/html;charset=[% settings.charset %]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
		<link rel="shortcut icon" href="/favicon.ico">

    <link href="/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    
    [% IF settings.environment == 'development' %]
      <link href="/css/styles.css" rel="stylesheet">
    [% ELSE %]
      <link href="/css/build/style.min.css" rel="stylesheet">
    [% END %]
    
  </head>
	
  <body>
	
		<div id="wrap">
      
      <div class="container">
        <div ng-view></div>
      </div>
      
    </div>

    [% IF settings.environment == 'development' %]
    
      <script src="/bower_components/jquery/jquery.js"></script>
      <script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
      <script src="/bower_components/angular/angular.js"></script>
      <script src="/bower_components/angular-route/angular-route.js"></script>

      <script src="/app/app.js"></script>
      <script src="/app/controllers/MyController.js"></script>
      <script src="/app/directives/MyDirective.js"></script>
      <script src="/app/filters/MyFilter.js"></script>
      <script src="/app/services/MyService.js"></script>
      
    [% ELSE %]
    
      <script src="/bower_components/jquery/jquery.min.js"></script>
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
      <script src="/bower_components/angular/angular.min.js"></script>
      <script src="/bower_components/angular-route/angular-route.min.js"></script>
    
      <script src="/app/build/app.min.js"></script>
      
    [% END %]
    
	</body>

</html>
