<!DOCTYPE html>
<html>
  <head>
  
    <title>MyApp</title>
    
    <meta http-equiv="Content-type" content="text/html;charset=[% settings.charset %]">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
		<link rel="shortcut icon" href="/favicon.ico">

    <!-- include bower css components here -->
    
    [% IF settings.dev %]
      <link href="/css/styles.css" rel="stylesheet">
    [% ELSE %]
      <link href="/css/build/style.min.css" rel="stylesheet">
    [% END %]
    
  </head>
	
  <body>
	
		<div id="wrap">
      
      <div class="container">
        <div ng-view></div>
      </div>
      
    </div>

    <!-- include bower js components here -->
    
    [% IF settings.dev %]
      <script src="/app/controllers/MyController.js"></script>
      <script src="/app/directives/MyDirective.js"></script>
      <script src="/app/filters/MyFilter.js"></script>
      <script src="/app/services/MyService.js"></script>
      <script src="/app/app.js"></script>
    [% ELSE %]
      <script src="/app/build/app.min.js"></script>
    [% END %]
    
	</body>

</html>
